.user-info {
    width: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 10px;
}

.user-photo {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.img {
    width: 100%;
    height: 100%;
    border-radius: inherit;
}

.info {
    max-width: 70%;
}

.timestamp {
    font-size: 14px;
    font-weight: 300;
    color: #7f9799;
}

.date {
    font-weight: 600;
}

.email {
    font-size: 18px;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
}

.message-btn {
    display: block;
    width: 100%;
    margin: auto;
    background-color: #002f34;
    border: 4px solid #002f34;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: #fff;
    fill: #fff;
    transition: all 0.3s ease;
}

.message-btn:hover {
    background-color: #fff;
    color: #002f34;
    fill: #002f34;
}

.map {
    height: 100%;
    width: 100%;
    display: flex;
}
