.categories {
    width: 100%;
    background-color: #fff;
    padding-block: 25px;
}

.categories-header {
    width: 100%;
    text-align: center;
}

.title {
    font-size: 2rem;
}

.categories-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
    margin-block: 50px;
}

@media screen and (max-width: 600px) {
    .categories {
        margin-top: 80px;
    }

    .categories-container {
        width: 90%;
    }
}

@media screen and (max-width: 500px) {
    .categories-container {
        justify-content: center;
        gap: 5%;
    }
}
