.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 0;
    border-top: 2px solid rgb(79, 79, 79);
    background-color: #f2f4f5;
    margin-top: 50px;
}

.articles {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 20px;
}

.list a {
    color: #002f34;
}

.linkedin {
    fill: blue;
    transition: all 0.3s ease;
}

.github {
    transition: all 0.3s ease;
    fill: black;
}

.linkedin:hover {
    fill: rgb(74, 74, 252);
}

.github:hover {
    fill: rgb(34, 34, 34);
}

.list-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 500px) {
    .footer {
        padding-top: 50px;
    }
    .articles {
        flex-direction: column-reverse;
    }

    .list > li {
        text-align: center;
    }

    .social-media {
        display: flex;
        gap: 10px;
        flex-direction: row;
    }

    .list-container {
        margin-bottom: 30px;
    }
}
