.header {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    height: 80px;
    width: 100vw;
    font-size: 18px;
    letter-spacing: 0.3px;
    transition: 0.5s;
    background-color: #002f34;
    box-shadow: 0 16px 16px #dce1e1;
    display: flex;
    justify-content: center;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

header.show {
    opacity: 1;
    transform: translateY(0);
}

header.hide {
    opacity: 0;
    transform: translateY(-100%);
    transition: all 0.3s ease-in-out;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    max-width: 1250px;
    height: 100%;
}

.toggle {
    border: solid 6px #fff;
    border-radius: 5px;
    font-size: 20px;
    background-color: #fff;
    color: #002f34;
    transition: all 0.3s ease;
}

.toggle:hover {
    background-color: #002f34;
    color: #fff;
    transition: all 0.3s ease;
}

.toggle span {
    display: block;
    margin: 10px 32px;
}

.user-options {
    display: flex;
    font-weight: 500;
    gap: 40px;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55px;
}

.logo img {
    width: 100%;
}

.user-options a {
    display: flex;
    gap: 4px;
    align-items: center;
}

.login {
    color: #fff;
}

.profile {
    position: relative;
    z-index: 10;
    color: #fff;
}

.profile:hover {
    color: darkgray;
    transition: all 0.3s ease;
}

/* media */

@media screen and (max-width: 900px) {
    .header-links {
        display: none;
    }
}
