.search-subcategory {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 80%;
    margin: auto;
    padding: 25px 0 50px;
    border-bottom: 1px solid #ddd;
}

.search-btn-icon {
    fill: #fff;
    width: 15px;
    height: 15px;
}
