.wrapper {
    padding-top: 15px;
}

.form-container {
    padding: 20px;
}

.filter-form {
    padding: 15px;
    background-color: #ebebeb;
}

.title {
    margin-left: 10px;
    margin-bottom: 15px;
}

.filters {
    display: flex;
    gap: 30px;
}

.categories {
    min-width: 220px;
}

.price {
    /* width: 170px; */
}

.price-title,
.category-title,
.condition-title {
    margin-left: 15px;
    margin-bottom: 10px;
}

.price-input-container {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
}
.price-input {
    width: 60px;
    padding: 10px;
    font-size: 16px;
}

.conditions-container {
}

.condition-choices {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
}
.condition {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 10px;
}
.btn-content {
}

.search-title-container {
    align-self: center;
    display: flex;
    align-items: center;
    gap: 10px;
}
.search-input {
    padding: 15px;
}
.search-btn {
    padding: 10px;
    background-color: #002f34;
    border: 2px solid #002f34;
    color: #fff;
    transition: all 0.3s ease;
}

.search-btn:hover {
    background-color: #fff;
    color: #002f34;
}

.search-btn-content {
    font-size: 18px;
    font-weight: 600;
}

.line {
    width: 90%;
    height: 1px;
    background-color: #002f34;
    margin: auto;
}
