.search-form-container {
    position: absolute;
    top: 20px;
    left: 380px;
    width: 300px;
    height: 0px;
    background-color: #fff;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #ddd;
    box-shadow: 1px 1px 15px rgb(0 0 0 / 15%);
    cursor: auto;
    border-radius: 0 35px;
    overflow: hidden;
    transition: opacity 0.5s ease-out;
    opacity: 0;
}

.search-btn-icon {
    fill: #fff;
    width: 15px;
    height: 15px;
}

.group {
    display: flex;
}

.input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.btn-search {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}