.menu {
    position: absolute;
    z-index: 10;
    top: 25px;
    left: -35px;
    min-width: 210px;
    max-width: 210px;
    background-color: #fff;
    border-radius: 8px;
    transition: all 0.4s ease-in-out;
    transform-origin: center top;
    transform: scaleY(0);
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.menu.open {
    transform: scaleY(1);
}

.drop-down {
    display: flex;
    flex-direction: column;
}

.user-links {
    display: flex;
    flex-direction: column;
    color: #002f34;
    width: 100%;
}

.user-links li {
    padding-block: 10px;
    padding-left: 20px;
}

.user-links li a {
    color: #002f34;
}

.user {
    text-align: center;
    padding: 18px 5px;
    width: 100%;
    border-bottom: #002f34 solid 2px;
}

.greet {
    width: 100%;
    color: #002f34;
    display: flex;
    flex-direction: column;
}

.greet:nth-child(1) {
    font-size: 1rem;
    font-weight: 500;
}

.email {
    font-weight: 600;
}

.logout {
    border-top: #002f34 solid 2px;
    padding-bottom: 10px;
}
