.search {
    width: 100%;
    background-color: #f2f4f5;
    padding: 55px 0;
    color: #002f34;
}

.search-form {
    margin: auto;
    display: flex;
    align-items: center;
    background-color: #fff;
    width: 80%;
    height: 65px;
}

.product-search,
.town-search {
    display: flex;
    align-items: center;
    width: 50%;
    height: 100%;
    color: #002f34;
    fill: #002f34;
}

.icon-container {
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.location {
    width: 20%;
}

.product-input,
.location-input {
    width: 88%;
    height: 100%;
    font-size: 16px;
    padding-inline: 5px;
}

.product-input::placeholder,
.location-input::placeholder {
    font-size: 16px;
    color: #002f34;
}

.town-search {
    width: 30%;
    border-inline: 2px solid #f2f4f5;
}

.search-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    background-color: #fff;
    font-size: 18px;
    font-weight: 500;
    height: 100%;
    letter-spacing: 0.3px;
    border-radius: 0 2px 2px 0;
    transition: all 0.3s ease;
}

.search-btn:hover {
    color: #fff;
    fill: #fff;
    cursor: pointer;
    background-color: #002f34;
    transition: all 0.3s ease;
}

.btn-content {
}

.btn-container {
    flex: 1;
    height: 100%;
}

@media screen and (max-width: 900px) {
    .search-form {
        width: 95%;
    }
}

@media screen and (max-width: 700px) {
    .product-input::placeholder,
    .location-input::placeholder {
        font-size: 14px;
    }
}

@media screen and (max-width: 600px) {
    .search {
        display: none;
    }
}
