.search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f2f4f5;
    padding: 55px 0;
    color: #002f34;
    margin-top: 80px;
}

.search-form {
    display: flex;
    align-items: center;
    background-color: #fff;
    width: 80%;
}

.product-search,
.town-search {
    width: 55%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-inline: 10px;
}

.town-search {
    width: 30%;
    border-inline: 2px solid #f2f4f5;
}

.btn-container {
    width: 15%;
}

.search-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    background-color: #fff;
    font-size: 18px;
    font-weight: 500;
    height: 100%;
    letter-spacing: 0.3px;
    border-radius: 0 2px 2px 0;
    transition: all 0.3s ease;
}

.search-btn:hover {
    color: #fff;
    fill: #fff;
    cursor: pointer;
    background-color: #002f34;
    transition: all 0.3s ease;
}

.btn-container,
.product-input,
.location-input {
    height: 70px;
}

.product-input,
.location-input {
    font-size: 16px;
    font-weight: 600;
    color: #002f34;
}

.product-input::placeholder,
.location-input::placeholder {
    font-size: 16px;
    font-weight: 500;
    color: #002f34;
}

.product-input,
.location-input {
    flex: 1;
}

.search-btn span {
    display: block;
    font-size: 20px;
    letter-spacing: 0.5px;
}

.location-icon {
    width: 20px;
    height: 20px;
    fill: #002f34;
}

.search-icon,
.search-icon-btn {
    width: 35px;
    height: 20px;
}

.search-icon {
    fill: #002f34;
}

@media screen and (max-width: 900px) {
    .form-container {
        display: none;
    }
}
