.categories__nav {
    width: 100%;
    display: flex;
    align-items: center;
}
.categories__container {
    border-top: solid 1px #ded6d6;
    width: 80%;
    height: 50px;
    display: flex;
    max-width: 1450px;
    margin: auto;
}
.list {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    margin: unset;
}
.list__item {
    margin-inline: 40px;
    position: relative;
}
.item__link {
    font-size: 1.2rem;
    font-weight: 600;
    color: #4c4c4c;
}

.item__link:hover {
    text-decoration: none;
    color: #0a0a0a;
}

.transition {
    transition: all 0.3s ease;
    cursor: pointer;
}
