.carousel {
    width: 100%;
    height: 560px;
}

.carousel-container {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 0.11);
}

.img-container {
    display: none;
}

.img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 0 15px 15px 0;
}

.img-container.active {
    display: block;
    width: 100%;
    height: 100%;
}

.carousel-dot-container {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.dot {
    cursor: pointer;
    height: 14px;
    width: 14px;
    margin-inline: 5px;
    background-color: #002f34;
    border-radius: 50%;
    transition: opacity 0.4s ease;
    opacity: 0.4;
}

.dot-active,
.dot:hover {
    opacity: 1;
}

.arrow-left {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    fill: #002f34;
    left: 0;
    bottom: 0;
    top: 0;
    background: 0 0;
    cursor: pointer;
    opacity: 0.4;
    transition: all 0.3s ease;
}

.arrow-right {
    background: 0 0;
    cursor: pointer;
    opacity: 0.4;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    fill: #002f34;
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
}

.arrow-left:hover,
.arrow-right:hover {
    opacity: 1;
}

.arrow-icon {
    width: 40px;
}

.fade {
    animation-name: fade;
    animation-duration: 2s;
}

@keyframes fade {
    from {
        opacity: 0.2;
    }
    to {
        opacity: 1;
    }
}

@media screen and (max-width: 450px) {
    .carousel {
        height: 400px;
    }

    .arrow-icon {
        width: 20px;
    }
}
