.products-slider {
  height: 500px;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}
.products-container {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 85%;
  margin: 0 auto;
}
.women-products-header {
  margin-top: 20px;
}

.women-products-header h3 {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.women-products-header h1 {
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
}

.women-products-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
  width: 100%;
  transition: all 0.7s ease;
}
