.location-field {
    width: 100%;
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.form-field-title {
    margin-bottom: 15px;
}

.label {
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.2px;
}

.location-input {
    background-color: #f2f4f5;
    padding: 15px;
    width: 100%;
    border-radius: 5px;
}

.input-container {
    width: 50%;
    position: relative;
}

.towns-container {
    position: absolute;
    width: 100%;
    background-color: #c4c9cd;
    top: 45px;
    left: 0;
    padding: 15px;
    max-height: 270px;
}

.towns-list {
}

.town {
    font-size: 22px;
    letter-spacing: 0.5px;
    font-weight: 600;
    padding-block: 6px;
    border-bottom: 1px solid #002f34;
    transition: all 0.3s ease;
    cursor: pointer;
}

.town:hover {
    background-color: #939393;
    color: #2f484a;
}
