.categories-modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    z-index: 110;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
}

.outside-click {
    width: 100%;
    min-height: 100vh;
    z-index: 111;
    position: fixed;
    top: 0;
    left: 0;
}

.categories-modal {
    position: relative;
    z-index: 120;
    width: 80%;
    background-color: #fff;
}

.content-container {
    padding: 10px;
}

.close-btn-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 20px 20px 0 0;
}

.modal-header {
    text-align: center;
}

.modal-title {
    font-size: 2.2rem;
}

.categories {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    padding: 0 20px 20px 20px;
}

/* Subcategory item styles */

.item {
    padding: 5px;
    border-bottom: 1px solid #fff;
}

.subcategory-btn {
    font-size: 1rem;
    transition: all 0.3s ease;
}

.subcategory-btn:hover {
    font-size: 1.1rem;
}
