.subcategories-dropdown {
    position: absolute;
    z-index: 10;
    top: 170px;
    left: -35px;
    width: 100%;
    min-width: 200px;
    background-color: #fff;
    border-radius: 8px;
    transition: all 0.4s ease-in-out;
    transform-origin: center top;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 10%), 0 2px 4px -2px rgb(0 0 0 / 10%);
    padding: 20px;
}

.subcategories-dropdown.open {
    transform: scaleY(1);
}

.subcategories-dropdown.hide {
    transform: scaleY(0);
}

.subcat-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 16px;
    font-weight: 600;
}

.subcategory {
    border-bottom: 1px solid;
    width: 100%;
    padding: 10px 0;
    transition: all 0.5s ease;
}

.subcategory:hover {
    color: #00606a;
}
/* 
@media screen and (max-width: 900px) {
    .subcategories-dropdown {
        left: -45px;
    }
} */

@media screen and (max-width: 900px) {
    .subcategories-dropdown {
        left: 0;
    }
}

@media screen and (max-width: 750px) {
    .subcategories-dropdown {
        left: -28px;
    }
}
