.section {
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-container {
    width: 90%;
    margin: auto;
}

.header {
    width: 100%;
    margin-left: 32px;
    margin-bottom: 9px;
    font-size: 22px;
}

.form {
    width: 100%;
    max-width: 1120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-field-title {
    margin-bottom: 15px;
}

.offer-field,
.description-field,
.price-field,
.location-field,
.contacts-field {
    width: 100%;
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.title,
.category,
.phone {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    margin-bottom: 10px;
}

.label {
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.2px;
}

.title-input,
.location-input,
.description-input,
.price-input,
.phone-input {
    background-color: #f2f4f5;
    padding: 15px;
    width: 50%;
    border-radius: 5px;
}

.description-input {
    width: 65%;
    height: 250px;
}

.btn-container {
    width: 100%;
    background-color: white;
    padding: 30px;
    display: flex;
    align-items: flex-end;
    margin-bottom: 100px;
    flex-direction: column;
    gap: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.btn {
    display: flex;
    align-items: center;
    background-color: #002f34;
    border-radius: 6px;
    border: solid 4px #002f34;
    gap: 5px;
    padding: 8px 40px;
    color: #fff;
    fill: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:hover {
    fill: #002f34;
    color: #002f34;
    background-color: #fff;
}
